<section>
    <div class="container my-5">
        <div class="row">
            <div class="col-md-4">
                <div class="d-flex align-items-center gap-3 my-3">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-phone text-light"></i>
                    </div>
                    <h6 class="mb-0">Call To Us</h6>
                </div>
                <p class="mb-2">We are available 24/7, 7 days a week.</p>
                <p class="mb-4">Phone: +8801611112222</p>

                <hr>

                <div class="d-flex align-items-center gap-3 mt-4 mb-3">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <i class="fa-regular fa-envelope text-light"></i>
                    </div>
                    <h6 class="mb-0">Write To Us</h6>
                </div>
                <p class="mb-2">Fill out our form and we will contact you within 24 hours.</p>
                <p class="mb-2">Emails: customer&#64;exclusive.com</p>
                <p>Emails: support&#64;exclusive.com</p>
            </div>

            <div class="col-md-7 offset-md-1 mt-md-4">
                <div class="row mb-5">
                    <div class="col-4">
                        <input class="form-control bg-secondary-subtle px-3 py-2" type="text" placeholder="Your Name">
                    </div>
                    <div class="col-4">
                        <input class="form-control bg-secondary-subtle px-3 py-2" type="email" placeholder="Your Email">
                    </div>
                    <div class="col-4">
                        <input class="form-control bg-secondary-subtle px-3 py-2" type="text" placeholder="Your Phone">
                    </div>
                </div>

                <textarea class="form-control bg-secondary-subtle" placeholder="Your Message"></textarea>

                <button class="btn btn-danger mt-4 px-5 d-block ms-auto">Send Message</button>
            </div>
        </div>
    </div>
</section>
