<section class="my-5">
    <div class="container">

        <div class="row align-items-center mb-5">
            <div class="col-md-5">
                <h1 class="mb-4">Our Story</h1>
                <p class="my-4">Launced in 2015, Exclusive is South Asia’s premier online shopping makterplace with an active presense in Bangladesh. 
                    Supported by wide range of tailored marketing, data and service solutions, 
                    Exclusive has 10,500 sallers and 300 brands and serves 3 millioons customers across the region. </p>
                <p>Exclusive has more than 1 Million products to offer, growing at a very fast. 
                    Exclusive offers a diverse assotment in categories ranging  from consumer.</p>
            </div>
            <div class="col-md-7">
                <img class="w-100" src="assets/images/aboutimg1.jpeg" alt="Two African Families">
            </div>
        </div>

        <div class="row mt-5">

            <div class="col-md-3 mt-5">
                <div class="element border border-1 text-center pt-3 mx-3">
                    <div class="icon mb-2">
                        <div class="innerIcon">
                            <i class="fa-solid fa-store fa-2x"></i>
                        </div>
                        
                    </div>
                    <h5 class="fw-bold mb-2">10.5k</h5>
                    <p class="small mb-2">Sallers active our site</p>
                </div>
            </div>

            <div class="col-md-3 mt-5">
                <div class="element border border-1 text-center pt-3 mx-3 selected text-white">
                    <div class="icon mb-2">
                        <div class="innerIcon bg-white">
                            <i class="fa-solid fa-dollar-sign fa-2x text-black"></i>
                        </div>
                    </div>
                    <h5 class="fw-bold mb-2">33k</h5>
                    <p class="small mb-2">Mopnthly Produduct Sale</p>
                </div>
            </div>

            <div class="col-md-3 my-5">
                <div class="element border border-1 text-center pt-3 mx-3">
                    <div class="icon mb-2">
                        <div class="innerIcon">
                            <i class="fa-solid fa-bag-shopping fa-2x"></i>
                        </div> 
                    </div>
                    <h5 class="fw-bold mb-2">45.5k</h5>
                    <p class="small mb-2">Customer active in our site</p>
                </div>
            </div>
            
            <div class="col-md-3 mt-5">
                <div class="element border border-1 text-center pt-3 mx-3">
                    <div class="icon mb-2">
                        <div class="innerIcon">
                            <i class="fa-solid fa-sack-dollar fa-2x"></i>
                        </div>
                        
                    </div>
                    <h5 class="fw-bold mb-2">25k</h5>
                    <p class="small mb-2">Anual gross sale in our site</p>
                </div>
            </div>

        </div>

        <div class="row my-5 text-center me-3">

            <div class="col-lg-4">
                <div class="element pt-3 mx-4">
                    
                    <div class="image px-3 pt-3">
                        <img class="w-100 h-100" src="/assets/images/first_image.png" alt="person_image">
                    </div>

                    <div class="content mt-3 p2-3">
                        <h3 class="fw-bold mb-2">Tom Cruise</h3>
                        <p class="small mb-2">Founder & Chairman</p>
                        <div class="icons">
                            <i class="fa-brands fa-twitter me-3"></i>
                            <i class="fa-brands fa-instagram me-3"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>
                    </div>
        
                </div>
            </div>
            
            <div class="col-lg-4">
                <div class="element pt-3 mx-4">

                    <div class="image px-3 pt-3">
                        <img class="w-100 h-100" src="/assets/images/second_image.png" alt="person_image">
                    </div>

                    <div class="content mt-3 p2-3">
                        <h3 class="fw-bold mb-2">Emma Watson</h3>
                        <p class="small mb-2">Managing Director</p>
                        <div class="icons">
                            <i class="fa-brands fa-twitter me-3"></i>
                            <i class="fa-brands fa-instagram me-3"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>
                    </div>
        
                </div>
            </div>

            <div class="col-lg-4">
                <div class="element pt-3 mx-4">

                    <div class="image px-3 pt-3">
                        <img class="w-100 h-100" src="/assets/images/third_image.png" alt="person_image">
                    </div>

                    <div class="content mt-3 p2-3">
                        <h3 class="fw-bold mb-2">Will Smith</h3>
                        <p class="small mb-2">Product Designer</p>
                        <div class="icons">
                            <i class="fa-brands fa-twitter me-3"></i>
                            <i class="fa-brands fa-instagram me-3"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>
                    </div>
        
                </div>
            </div>

            <div class="dots d-flex justify-content-center align-items-center gap-2 mt-3 w-25 mx-auto">
                <div></div>
                <div></div>
                <div class="bg-danger"></div>
                <div></div>
                <div></div>
            </div>

        </div>

        <div class="row my-5">

            <div class="col-md-4">
                <div class="element text-center pt-3 mx-3">
                    <div class="icon mb-2">
                        <div class="innerIcon">
                            <i class="fa-solid fa-truck fa-2x"></i>
                        </div>
                    </div>
                    <h5 class="fw-bold mb-2">FREE AND FAST DELIVERY</h5>
                    <p class="small mb-2">Sallers active our site</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="element text-center pt-3 mx-3">
                    <div class="icon mb-2">
                        <div class="innerIcon">
                            <i class="fa-solid fa-headphones fa-2x"></i>
                        </div>
                    </div>
                    <h5 class="fw-bold mb-2">24/7 CUSTOMER SERVICE</h5>
                    <p class="small mb-2">Friendly 24/7 customer support</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="element text-center pt-3 mx-3">
                    <div class="icon mb-2">
                        <div class="innerIcon">
                            <i class="fa-solid fa-clipboard-check fa-2x"></i>
                        </div>
                    </div>
                    <h5 class="fw-bold mb-2">MONEY BACK GUARANTEE</h5>
                    <p class="small mb-2">We reurn money within 30 days</p>
                </div>
            </div>


        </div>

    </div>
</section>
