<footer class="text-white mt-5 px-5 pt-5 pb-3">
    <div class="container">
        <div class="row gap-3">
            <div class="col-lg-2">
                <h5 class="mb-4">Execlusvie</h5>
                <h6 class="mb-3">subscribe</h6>
                <p class="mb-3">Get 10% off your first order</p>
                <div class="input_mail d-flex align-items-center position-relative mb-3">
                    <input class="form-control bg-black text-white" type="email" placeholder="Enter Your Email">
                    <i class="fa-regular fa-envelope-open"></i>
                </div>
                
            </div>

            <div class="col-lg-2">
                <h6 class="mb-4">Support</h6>
                <p class="mb-3">111 Bijoy sarani, Dhaka,  DH 1515, Bangladesh.</p>
                <a class="mb-3 d-block" href="mailto:exclusive@gmail.com">exclusive&#64;gmail.com</a>
                <a class="mb-3 d-block" href="tel:+88015-88888-9999">+88015-88888-9999</a>
            </div>

            <div class="col-lg-2">
                <h6 class="mb-4">Account</h6>
                <ul class="list-unstyled d-flex flex-column gap-3">
                    <li>My Account</li>
                    <li>Login / Register</li>
                    <li>Cart</li>
                    <li>Wishlist</li>
                    <li>Shop</li>
                </ul>
            </div>

            <div class="col-lg-2">
                <h6 class="mb-4">Quick Link</h6>
                <ul class="list-unstyled d-flex flex-column gap-3">
                    <li>Privacy Policy</li>
                    <li>Terms Of Use</li>
                    <li>FAQ</li>
                    <li>Contact</li>
                </ul>
            </div>

            <div class="col-lg-2">
                <h6 class="mb-4">Download App</h6>
                <p>Save $3 with App New User Only</p>
                <div class="d-flex align-items-center justify-content-center">
                    <div class="left w-50 mb-0">
                        <img class="w-100" src="assets/images/QR_Code.jpeg" alt="qr_code">
                    </div>
                    <div class="right ms-1 w-50 mb-0">
                        <img class="first" src="assets/images/Goggle_Play.png" alt="goggle_play">
                        <img src="assets/images/App_Store.png" alt="app_store">
                    </div>
                </div>

                <div class="icons mt-4 d-flex align-items-center gap-4">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-linkedin"></i>
                </div>

            </div>

            <p class="text-center text-white-50 mt-5">&copy;Copyright Rimel 2022. All right reserved</p>


        </div>
    </div>
</footer>
