@media screen and (max-width : 576px){
    button{
        padding-inline: 12px !important;
    }
}

@media screen and (max-width : 768px){
    a{
        margin-left: 17px !important;
    }

    a{
        font-size: 14px
    }
}