<nav
    class="navbar navbar-expand-md navbar-light bg-light pt-4"
>
    <div class="container">
        <a class="navbar-brand fw-bold fs-4 mt-2" routerLink="">Exclusive</a>
        <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mx-auto mt-2">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Home" routerLinkActive="active-link" aria-current="page">
                        Home
                        <span class="visually-hidden">(current)</span></a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Contact" routerLinkActive="active-link">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/About" routerLinkActive="active-link">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Cart" routerLinkActive="active-link">Cart</a>
                </li>
            </ul>
            <ul class="mt-2 mb-0 navbar-nav d-flex align-items-lg-center gap-3">
                <li>
                    <form class="d-flex position-relative mb-0">
                        <input class="form-control me-sm-2 ps-2 pe-4" type="text" placeholder="What are you looking for"/>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </form>    
                </li>

                <li>
                    <a class="nav-link position-relative" routerLink="/Wishlist" routerLinkActive="active-link">
                        <i class="fa-solid fa-heart text-danger fs-3"></i>
                        <span class="badge bg-danger position-absolute top-0 end-0 small">{{wishListNum}}</span>
                    </a>
                </li>


                <li>
                    <a class="nav-link position-relative" routerLink="/Cart" routerLinkActive="active-link">
                        <i class="fa-solid fa-cart-shopping fs-3"></i>
                        <span class="badge bg-danger position-absolute top-0 end-0 small">{{cartNum}}</span>
                    </a>
                </li>

                <li>
                    <a (click)="signOut()" role="button" class="btn fs-6 px-0">LogOut</a>
                </li>


            </ul>

        </div>
    </div>
</nav>

